<div id="middle" class="row">
	<div class="col-md-3">
	</div>
	<div id="centerBox" class="col-md-6">
		<div id="titleRow" class="row">
			<div class="col-md-12"><h2></h2>
			</div>
		</div>
		<div id="pictureRow" class="row">
			<div class="col-md-7" style="height:100%">
				<a>
					<img src=""/>
				</a>
			</div>
			<div class="col-md-4">
				<ul class="bullets">
					<li>Developer: <a id="developer"></a></li>
					<li id="platforms">Platforms: </li>
					<li id="genres">Genres: </li>
				</ul>
			</div>
		</div>
		<div id="bottomRow" class="row">
			<div class="col-md-12"><p></p>
			</div>
		</div>
	</div>
	<div class="col-md-3">
	</div>
</div>