<!--jquery (use minified for production)-->
<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!--<script-->
  <!--src="https://code.jquery.com/jquery-3.2.1.min.js"-->
  <!--integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="-->
  <!--crossorigin="anonymous"></script>-->
<!-- library for easily reading cookies with jquery -->
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<!--my script-->
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>